annotated-types==0.7.0
appnope==0.1.4
asttokens==3.0.0
aws-requests-auth==0.4.3
boto3==1.24.70
botocore==1.27.96
cachetools==4.2.4
cdh_lambda @ git+ssh://git@atc-github.azure.cloud.bmw/cdec/cdec-toolset-blueprints.git@44bd8aef9bd6cd8ece9424bb6a9e4cf35e89e9ab#subdirectory=python-library/cdh_lambda
cdh_lambda_streaming @ git+ssh://git@atc-github.azure.cloud.bmw/cdec/cdec-streaming-blueprints.git@bfad95548b34480c8980f7eed83086ab0c0760e8#subdirectory=python-library/cdh_lambda_streaming
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
comm==0.2.2
coverage==7.6.12
cryptography==44.0.0
debugpy==1.8.12
decorator==5.1.1
exceptiongroup==1.2.2
executing==2.2.0
fsspec==2024.3.1
gzip_to_parquet_lambda @ git+ssh://git@atc-github.azure.cloud.bmw/cdec/cdec-streaming-blueprints.git@bfad95548b34480c8980f7eed83086ab0c0760e8#subdirectory=python-blueprints/gzip_to_parquet
idna==3.10
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.32.0
jedi==0.19.2
Jinja2==3.1.5
jmespath==1.0.1
jupyter_client==8.6.3
jupyter_core==5.7.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
moto==5.0.28
nest-asyncio==1.6.0
numpy==1.22.2
packaging==24.2
pandas==1.5.3
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.50
psutil==6.1.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==8.0.0
pycparser==2.22
pydantic==2.5.2
pydantic_core==2.14.5
pygeohash==1.2.0
Pygments==2.19.1
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-terraform==0.10.1
pytz==2025.1
PyYAML==6.0.1
pyzmq==26.2.1
requests==2.31.0
responses==0.25.6
s3fs==0.4.2
s3transfer==0.6.2
six==1.16.0
stack-data==0.6.3
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.2
wcwidth==0.2.13
Werkzeug==3.1.3
xmltodict==0.14.2
